.center{
    display: flex;
    justify-content: center;
}
table{
    width: 70%;
    background-color: #c2185b;
    color: #fff;
    border-collapse: collapse;
    border-color: #000;
}
td{
    padding: 10px;
}