<mat-toolbar color = "primary">
	<span>Angular HttpClient and Routing</span>
</mat-toolbar>
<div class="center" style = "margin-top: 5px;">
	<mat-button-toggle-group name="TodoStyle" aria-label="Todo Style">
		<mat-button-toggle value="list" routerLink = "list">List</mat-button-toggle>
		<mat-button-toggle value="details" routerLink = "details">Details</mat-button-toggle>
		<mat-button-toggle value="spacex" routerLink="spacex">SpaceX</mat-button-toggle>
	</mat-button-toggle-group>
</div>
<div class="center">
	<mat-form-field id="input" class="hidden width">
		<mat-label>Add Task</mat-label>
		<input matInput placeholder="Task" name="input" #input>
	</mat-form-field>
	<button style = "margin-left: 10px" class ="hidden" id="button" mat-raised-button (click)="submit(input.value)">Submit</button>
</div>


<div class="center" style = "margin: 20px;">
	<button mat-raised-button color="primary" (click)="addData()">
		Add task
	</button>
</div>
<router-outlet></router-outlet>
